<h1>Editing Full Film Location Datum</h1>

<%= render 'form', full_film_location_datum: @full_film_location_datum %>

<%= link_to 'Show', @full_film_location_datum %> |
<%= link_to 'Back', full_film_location_data_path %>
