<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Thesis Test', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="nav-body">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Parks', parks_path %></li>
        <li><%= link_to 'PSA Managers', psa_managers_path %></li>
        <li><%= link_to 'Full Business Data', full_business_data_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
